<!-- CODE -->
<bc-code class="paper border border-primary"></bc-code>

<!-- SCHEMA -->
<div class="draw paper border border-2 border-primary">
  <button (click)="code.showLines([1])">Observable</button>
  <button (click)="code.showLines([5])">Observer</button>
  <button (click)="code.showLines([3, 5, 7])">Async</button>
  <button (click)="code.showAllLines()">all</button>
  <img src="/assets/observable.svg" class="schema">
</div>

<!-- EXEC -->
<div class="exec paper border border-3 border-primary">
  <i (click)="start()" class="material-icons start">play_arrow</i>
  <div class="playground">

  </div>
</div>