<!-- CODE -->
<bc-code class="paper border border-primary"></bc-code>

<!-- SCHEMA -->
<div class="draw paper border border-2 border-primary">
  <button (click)="code.showLines([1, 2, 3, 4, 5, 6, 7])">Promise</button>
  <button (click)="code.showLines([9])">Consumer</button>
  <button (click)="code.showAllLines()">all</button>
  <img src="/assets/promise.svg" class="schema">
</div>

<!-- EXEC -->
<div class="exec paper border border-3 border-primary">
  <i (click)="start()" class="material-icons start">play_arrow</i>
  <div class="playground">

  </div>
</div>