<!-- CODE -->
<bc-code class="paper border border-primary"></bc-code>

<!-- SCHEMA -->
<div class="draw paper border border-2 border-primary">
  <button (click)="code.showLines([1,2,3])">Observable</button>
  <button (click)="code.showLines([8, 9, 10])">Observer</button>
  <button (click)="code.showLines([5])">Subscribe</button>
  <button (click)="code.showLines([4,6])">Async</button>
  <button (click)="code.showAllLines()">all</button>
</div>

<!-- EXEC -->
<div class="exec paper border border-3 border-primary">
  <i (click)="start()" class="material-icons start">play_arrow</i>
  <div class="playground playground0"></div>
  <div class="playground playground1"></div>
</div>