/* You can add global styles to this file, and also import other style files */
html,
body {
  height: calc(100% - 2em);
}

.draw {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 !important;
  padding: 0;
}

.exec {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 !important;
  padding: 0;
  position: relative;
}

.mainslide {
  height: 100%;
  margin: 3em;
  text-align: center;
  position: relative;
}

.mainslide img {
  display: inline-block;
}

.playground {
  position: relative;
  height: 100%;
}
.playground0 {
  height: 50%;
}
.playground1 {
  height: 50%;
}

.message {
  display: block;
  position: absolute;
  opacity: 0;
  height: 4vw;
  top: 40%;
  right: 0;
  background: #4ca64c;
  border: 2px solid #fff;
  border-radius: 4vw;
  color: #fff;
  font-weight: bold;
  line-height: 6vw;
  font-size: 2em;
  text-align: center;
  width: 8vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.message i {
  font-size: 1.5em !important;
}

.message.text {
  line-height: 4.5vw;
}

.message.pie_chart {
  background-image: url(/assets/camembert1.png);
  background-size: cover;
  background-position-x: 9px;
}
.message.pie_chart i {
  color: transparent;
}

.start {
  font-size: 2em !important;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 10px;
  border: 2px solid #777;
  background: #ddd;
  border-radius: 1em;
}
