/* You can add global styles to this file, and also import other style files */
html,
body {
  height: calc(100% - 2em);
}

.draw {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 !important;
  padding: 0;
}

.exec {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 !important;
  padding: 0;
}

.mainslide {
  height: 100%;
  margin: 3em;
  text-align: center;
  position: relative;
}

.mainslide img {
  display: inline-block;
}
