<div class="paper border border-primary mainslide contentslide">
  <pre>
// 3. Observable qui émet une valeur aléatoire (0-100) toute les secondes
class RandomObservable {{ '{' }}
  private onsubscribe: (obs: BasicObserver) => void;
  
  constructor() {{ '{' }}
    this.onsubscribe = obs => {{ '{' }}
      setInterval(
        () => obs.next(Math.floor(Math.random() * 100))
        , 1000
      );
    }
  }

  subscribe(obs: BasicObserver) {{ '{' }}
    this.onsubscribe(obs);
  }
}
  </pre>
</div>