.title {
  margin-top: 5vh;
}

img.rx {
  position: absolute;
  height: 120px;
  left: calc(50% - 285px);
  opacity: 0.7;
}

img.myth {
  position: absolute;
  left: calc(50% - 248px);
}

.authors {
  height: 200px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.authors img {
  max-height: 100%;
}
